<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sweet Reset Password</title>
    <link rel="shortcut icon" href="#" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"
      integrity="sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body
    style="
      background-image: url('https://images.theconversation.com/files/270320/original/file-20190423-15218-9to8i9.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop');
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <h1 style="text-align: center">MISE A JOUR DU MOT DE PASSE</h1>
    <p style="text-align: center">
      Minimum de huit caractères, au moins une lettre, un chiffre et un
      caractère spécial
    </p>

    <form id="form" style="text-align: center">
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" /><br />
      <label for="confirm">Confirm password:</label><br />
      <input type="password" id="confirm" name="confirm" /><br /><br />
      <input type="submit" value="Submit" />
    </form>

    <p id="error" style="display: none; color: red; text-align: center">
      LES MOTS DE PASSE NE SONT PAS IDENTIQUES
    </p>
    <p id="ok" style="display: none; color: green; text-align: center">
      MOT DE PASSE PRIS EN COMPTE
    </p>
    <p id="false" style="display: none; color: red; text-align: center">
      Minimum de huit caractères, au moins une lettre, un chiffre et un
      caractère spécial
    </p>
    <p id="error_server" style="display: none; color: red; text-align: center">
      une erreur est survenue.
    </p>

    <script type="text/javascript">
      function getData(form) {
        const formData = new FormData(form);
        return Object.fromEntries(formData);
      }

      const regex = new RegExp(
        /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/
      );

      let password = document.getElementById("password").value;
      let params = new URLSearchParams(document.location.searchFriends);
      let token = params.get("trustedKey");

      document.getElementById("form").addEventListener("submit", async function (e) {
        e.preventDefault();
        const data = getData(e.target);

        if (!regex.test(data.password)) {
          document.getElementById("false").style.display = "block";
          document.getElementById("error").style.display = "none";
          document.getElementById("ok").style.display = "none";
          return;
        }

        if (data.password === data.confirm) {
          try{
            await axios({
              method: "post",
              url: "http://localhost:3005/user/password/reset",
              data: {
                password: password,
                token: token,
              },
            })

            document.getElementById("false").style.display = "none";
            document.getElementById("error").style.display = "none";
            document.getElementById("ok").style.display = "block";
            return;

          } catch(err) {
            document.getElementById("false").style.display = "none";
            document.getElementById("error_server").style.display = "block";
            document.getElementById("ok").style.display = "none";
            return
          }
        }

        document.getElementById("false").style.display = "none";
        document.getElementById("error").style.display = "block";
        document.getElementById("ok").style.display = "none";
      });
    </script>
  </body>
</html>
