<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>POV</title>
    <link rel="shortcut icon" href="#" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"
      integrity="sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body style="margin: 24px;">
    <h1>Renouvellement de votre mot de passe POV :</h1>
    <p>
      Minimum de huit caractères
    </p>

    <form id="form" >
      <label for="password">Mot de passe:</label><br />
      <input type="password" id="password" name="password" style="margin-bottom: 16px;"/><br />
      <label for="confirm">Confirmer votre mot de passe:</label><br />
      <input type="password" id="confirm" name="confirm" /><br /><br />
      <input type="submit" value="Submit" />
    </form>

    <p id="error" style="display: none; color: red;">
      LES MOTS DE PASSE NE SONT PAS IDENTIQUES
    </p>
    <p id="ok" style="display: none; color: green;">
      MOT DE PASSE PRIS EN COMPTE
    </p>
    <p id="false" style="display: none; color: red;">
      Minimum de huit caractères
    </p>
    <p id="error_server" style="display: none; color: red;">
      une erreur est survenue.
    </p>

    <script type="text/javascript">
      function getData(form) {
        const formData = new FormData(form);
        return Object.fromEntries(formData);
      }

      let password = document.getElementById("password").value;
      const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
      })
      let token = params.trustedKey;

      document.getElementById("form").addEventListener("submit", async function (e) {
        e.preventDefault();
        const data = getData(e.target);

        if (data.password.length < 8) {
          document.getElementById("false").style.display = "block";
          document.getElementById("error").style.display = "none";
          document.getElementById("ok").style.display = "none";
          return;
        }

        if (data.password === data.confirm) {
          try{
            await axios({
              method: "POST",
              url: "/user/password/reset",
              data: {
                password: data.password,
                token: token,
              },
            })
            window.location.href = "/views/confirm"
            return;

          } catch(err) {
            document.getElementById("false").style.display = "none";
            document.getElementById("error_server").style.display = "block";
            document.getElementById("ok").style.display = "none";
            return
          }
        }

        document.getElementById("false").style.display = "none";
        document.getElementById("error").style.display = "block";
        document.getElementById("ok").style.display = "none";
      });
    </script>
  </body>
</html>
